.div1{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: salmon;
    line-height: 100px;
}
/* 가상 클래스 선택자
- hover, active, visited, focus, checked
- 선택자:hover{} : 요소에 마우스가 올라가 있는 동안
- 선택자:active{} : 요소에 마우스클릭 or 엔터가 눌리는 동안
- 선택자:focus{} : 요소에 포커스가 머물러 있는 동안
- :visited : 요소가 링크일 떄, 방문했다면 스타일 변경(a태그)
- :checked : 요소가 체크되었을 때(라디오나 체크박스)
*/

.div1:hover {
    background-color: aquamarine;}

.div1:active {background-color: blue;}    

input:focus{background-color: blueviolet;
color: pink; outline-color: yellowgreen}

a:visited{color: plum;}

input#rabbit:checked + label{background-color:salmon; brown;}


/* 

    E:first-child : E가 첫번째자식이라면 선택
    E:last-child : E가 마지막자식이라면 선택
    E:nth-child : E가 n번째 자식이라면 선택
    E:nth-of-type() : E요소 중에 ()번째를 선택
    
    */



.zoo > * {
    background-color: green;
    color: white;
    font-size: 20px;
}

.zoo > li:last-child{
    background-color: black;
}

.zoo > li:nth-of-type(1){background-color: blue;}

.zoo > li:nth-child(odd){background-color: plum;}
/* odd = 2n+1 로 쓸 수 있다. */

/* 가상 요소 선택자는 before,after 두개밖에 없다. */

.h3{
    background-color: aquamarine;
}


.h3::after{
    content: " after";
    color: beige;
}

/* 실제로 
쇼핑몰 페이지에 메뉴에 추천 등을 넣기 위해 
별도의 태그를 삽입하지 않고 가상현실 선택자를 사용한다. */

.h3::before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: red;
}

.box::before{content: "택시";}
.box::after{content: "빨리";}