body {
}

body .dr-container {
  display: flex;
}

.visuallyhidden {
  display: none;
}

body .dr-container .dr-header {
}

body .dr-container .static-hero {
}

body .dr-container .hw-container {
}
body .dr-container .hw-container .hw {
}
body .dr-container .hw-container .image-hardware-midnight {
  background-image: url(./apple/hero_midnight__sg7l40u32uim_large.jpg);
}
body .dr-container .hw-container .image-hardware-starlight {
}
body .dr-container .hw-container .image-hardware-red {
}
body .dr-container .hw-container .image-hardware-blue {
}
body .dr-container .hw-container .image-hardware-perple {
}
body .dr-container .hw-container .image-hardware-yellow {
}
